<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <title>Login and Signup</title>
</head>
<body>
    <div class = "ui container">
        <br/><br/>
       {{{body}}}
    </div>  
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>$('.close.icon').on('click', function() { $(this).parent().fadeOut("slow"); });</script>  
</body>
</html>
