<center>
    <div class="ui card">
        <div class = "image">
            <center><i class="massive user circle icon"></i></center>
            <center>Create an account or login</center>
        </div>
    <div class="extra content">
        <button class="fluid ui negative button"><i class="sign in alternate icon"></i>
        <a href = "/users/register">Register</a></button><br/>
        <button class="fluid ui grey bottom attached button">
        <a href= "/users/login">Login</a></button>
    </div>
</center>
